<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="icon" href="favicon.ico">
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div style="padding-top:1em;" class="container">
    <div style="margin-bottom: 1em;">
        <span style="font-size: 2em; color: #32a5e7;">Add User Form</span>
    </div>

    <form id="newProductForm" method="post" action="/user/add" th:object="${user}" enctype="multipart/form-data">
        <fieldset>
            <input type="hidden" name="id" th:value="${user.id}"/>
            <div class="row">
                <div class="col-md-6">
                    <label for="firstName">First Name</label>
                    <input id="firstName" name="firstName" placeholder="First Name" type="text"
                           class="form-control" th:value="${user.firstName}">

                </div>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                      class="alert alert-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" name="lastName" placeholder="Last Name" type="text"
                           class="form-control" th:value="${user.lastName}">

                </div>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                      class="alert alert-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="userName">User Name</label>
<!--                                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{credential.userName}"-->
<!--                                              class="alert alert-danger"></span>-->
                    <input id="userName" required name="userName" type="text" class="form-control" th:field="*{credential.userName}">
<!--                    <span style="font-style: italic;" th:text="${users != null} ? ${#strings.toUpperCase(users.credential.userName)} : 'user is null'"></span>-->

                </div>
            </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="email">Email</label>
                        <input id="email" name="email" placeholder="email@miu.edu" type="email"
                               class="form-control" th:text="${user.email}">
                    </div>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                          class="alert alert-danger"></span>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="password">Password</label>
                    <!--                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"-->
                    <!--                          class="alert alert-danger"></span>-->
                    <input id="password" required name="password" type="password" class="form-control" th:field="*{credential.password}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="role">Customer Or Seller</label>
                    <select id="role" class="form-control" th:field="*{role}">
                        <option th:value="${{CUSTOMER}}" th:text="CUSTOMER"></option>
                        <option th:value="${{SELLER}}" th:text="SELLER"></option>
                    </select>
                </div>
                </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="licenceNumber">Licence Number</label>
                            <input id="licenceNumber" name="licenceNumber" placeholder="licenceNumber" type="text"
                                   class="form-control" th:value="${user.licenceNumber}">
                                            </div> <span th:if="${#fields.hasErrors('licenceNumber')}" th:errors="*{licenceNumber}"
                                                         class="alert alert-danger"></span>
                        </div>


                        <div style="float:right;">
                            <a href="/home" class="btn btn-outline-warning">Cancel</a>
                            <button id="btnSubmit" type="submit" class="btn btn-outline-success">Save User</button>
                        </div>
        </fieldset>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
