<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
<!--    <link rel="icon" href="favicon.ico">-->
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div style="padding-top:1em;" class="container">
    <div style="margin-bottom: 1em;">
        <span style="font-size: 2em; color: #32a5e7;">Make Deposit</span>
    </div>
    <form id="newDepositPayment" method="post" action="/bids/addDeposit" th:object="${depositPayment}" enctype="multipart/form-data">
    <div style="font-size: 1em">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Images</th>
                <th scope="col">Product Name</th>
                <th scope="col">Starting Price</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Bid count </th>
                <th scope="col"> </th>
            </tr>
            </thead>
    <tr th:object=" ${product}">
        <td> <img  th:src="@{${product.photos.get(0)}}" style="width:213px; height:119px"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.startingPrice}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.dueDate}"></td>
        <td th:text="${product.bidcount}"></td>
    </tr>
            </tbody>
        </table>
    </div>

        <fieldset>
            <input type="hidden" name="id" th:value="${depositPayment.id}"/>
            <div class="row">
                <div class="col-md-6">
                    <label for="deposit">Deposit Payment</label>
                    <input id="deposit" name="deposit" type="text" readonly class="form-control" th:value="${depositPayment.deposit}">
                </div>
            </div>
            <div style="float:right;">
                <a href="/product/seller/getall" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="submit" class="btn btn-outline-success">Save Deposit</button>
            </div>
        </fieldset>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>