<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div style="padding-top:1em;" class="container">
    <img src="/images/Puppet404.gif" >
<!-- <h1 class="alert alert-danger" th:value="${fileNotFound}"></h1>-->

<!--<%&#45;&#45; <H2 th:text="${requestScope['javax.servlet.error.message']}"></H2> &#45;&#45;%>-->
<!-- 			<p>${url}</p>-->
<!--			<p>${exception}</p>-->

<!--</div>-->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>