<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="icon" href="favicon.ico">
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>
        Auction Product</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div style="margin-top: 1em; margin-bottom: 1em;" class="container">
    <div>
			<span style="font-size: 2em; color: #32a5e7;">Auction Product in our data</span>
    </div>
    <!-- Search panel -->
    <form id="searchProduct" method="get"
          action="/product/search">
        <div style="margin-top: 1em;" class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchString"
                           name="searchString"
                           placeholder="Enter a string to search for products"
                           th:value="${searchString}" autofocus/>
                    <div class="input-group-append">
                        <button id="btnSubmit" type="submit"
                                class="btn btn-outline-success">Search
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <a href="/categories/getallforcustomer"><button class="btn btn-outline-success">Switch Category</button></a>
    <div style="font-size: 1em">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Images</th>
                <th scope="col">Product Name</th>
                <th scope="col">Starting Price</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Highest BidPrice</th>
                <th scope="col">Bid count </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product,iterStat : ${products}">
                <td scope="row" th:text="${iterStat.count}+${'.'}"></td>
                <td> <img th:src="@{${product.getPhotos().get(0)}}" style="width:213px; height:119px"></td>
<!--         <td> <img  th:src="@{${product.getPhotosImagePath()}}" style="width:213px; height:119px"></td>-->
                <td th:text="${product.productName}"></td>
                <td th:text="${product.startingPrice}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.dueDate}"></td>
                <td th:text="${product.maxBidPrice}"></td>
                <td th:text="${product.bidcount}"></td>
                <td><a th:href="@{'/bids/add/{id}'(id=${product.id})}">Bid</a></td>
                <td><a th:href="@{'/product/details/{id}'(id=${product.id})}">Product Details</a></td>

            </tr>
            <tr th:if="${productsCount < 1}">
                <td colspan="8" th:align="center">No product found</td>
            </tr>
            </tbody>
        </table>

        <div>
            <ul class="nav nav-pills">
                <li class="nav-item"
                    th:each="i:${#numbers.sequence(0,products.totalPages)}">
                    <a th:href="@{/product/getall(pageNo=${i})}" th:text="${i}" class="nav-link"
                       th:classappend="${currentPageNo}==${i}?'active'"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>
