<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="icon" href="favicon.ico">
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div style="padding-top:1em;" class="container">
    <div style="margin-bottom: 1em;">
        <span style="font-size: 2em; color: #32a5e7;">Reset password</span>
    </div>

    <form id="newUserForm" method="get" th:action="@{/user/resetPassoword_usr_email}" th:object="${users}">
        <fieldset>
<!--            <input type="hidden" name="userId" th:value="*{id}"/>-->
            <div class="row">
                <div class="col-md-6">
                    <label for="firstName">First Name</label>
                             <input id="firstName" name="firstName" type="text" class="form-control" th:value="${users.firstName}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="email">E-mail</label>
                    <!--                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"-->
                    <!--                          class="alert alert-danger"></span>-->
                    <input id="email" name="email" type="text" class="form-control" th:value="${users.email}">
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                    <label for="securityCode">Please Enter the Security</label>-->
<!--                    &lt;!&ndash;                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"&ndash;&gt;-->
<!--                    &lt;!&ndash;                          class="alert alert-danger"></span>&ndash;&gt;-->
<!--                    <input id="securityCode" name="securityCode" type="text" class="form-control" th:value="${users.email}">-->
<!--                </div>-->
<!--            </div>-->
            <button id="btnSubmit" type="submit" class="btn btn-outline-success">Reset</button>
        </fieldset>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>