<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="">
	<!--    <link rel="icon" href="favicon.ico">-->
	<link
			href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
			crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
		<div class="col-xs-4 text-center">
			<h1>Your Payment Is Confirmed</h1>	
		</div>
	</th:block>
    <th:block layout:fragment="content">
    	<div class="col-xs-4 text-center">

			<p style="font-size: 18px">
			<h2>Details:</h2>
		<h3>Full Name: <span th:text="${usercomf.firstName}"></span> <span th:text="${usercomf.lastName}"></span>
			<br/>
			Payment Amount: <span th:text="${depositPayment.finalPayment}"></span>
			</p></h3>
			<h1>Thank You</h1>
    	</div>

		<div class="col-xs-4 text-center">
			<a th:href="@{'/product/getallWonProduct'}" class="btn btn-outline-success" th:align = center>EXIT</a>
    	</div>
    </th:block>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>