<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="icon" href="favicon.ico">
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <h3>Product<sup>&reg;</sup> Seller</h3>
    <hr/>
    <div style="padding-top:1em;" class="container">
        <div style="margin-bottom: 1em;">
            <span style="font-size: 2em; color: #32a5e7;">Edit Product data with productId: [[${product.id}]]</span>
        </div>

        <form id="editProductForm" method="post"
              action="/product/seller/edit" th:object="${product}">
            <fieldset>
                <input type="hidden" name="id" th:value="${product.id}"/>
                <div class="row">
                    <div class="col-md-6">
                        <label for="productName">Product Name</label>
                        <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"
                              class="alert alert-danger"></span>
                        <input id="productName" name="productName" type="text" class="form-control" th:value="${product.productName}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="startingPrice">Starting Price</label>
                                <span th:if="${#fields.hasErrors('startingPrice')}" th:errors="*{startingPrice}"
                                      class="alert alert-danger"></span>
                                <input id="startingPrice" name="startingPrice" type="text" class="form-control"
                                       th:value="${product.startingPrice}">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label><span
                        th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                        class="alert alert-danger"></span> <textarea id="description"
                                                                     name="description" type="text" class="form-control" rows="3"
                                                                     th:value="${product.description}"></textarea>

                </div>
                <div class="form-group">
                    <label for="category">Catogories</label>
                    <select id="category" class="form-control" th:field="*{categories}" size="1" multiple="multiple">
                        <option th:each="category : ${categories}"
                                th:value="${{category}}"
                                th:text="${category.getName()}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="release"> Release</label>
                    <div class="col-md-6">
                        <select name="release"
                                id="release" type="text"
                                class="form-control" th:value="${product.release}">
                            <option value="">Release Yes/No?
                            </option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div style="float:right;">
                        <a href="/product/seller/getall" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                        <button id="btnSubmit" type="submit" class="btn btn-outline-success">Update Product</button>
                    </div>

            </fieldset>


        </form>
    </div>

</div>

<th:block layout:fragment="footer"></th:block>

</body>
</html>
