<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <!--    <link rel="icon" href="favicon.ico">-->
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs"
            crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div style="padding-top:1em;" class="container">
    <div style="margin-bottom: 1em;">
        <span style="font-size: 2em; color: #32a5e7;">Shipment Process</span>
    </div>
    <form>
        <fieldset>
            <div style="font-size: 18px">From :<span th:text="${seller.firstName}"></span> <span
                    th:text="${seller.lastName}"></span>
                <br/>
                Address:<br/>
                <div th:text="${seller.address?.street}"></div>
                <div th:text="${seller.address?.city}"></div>
                <div th:text="${seller.address?.state}"></span>
                    <div th:text="${seller.address?.zipcode}"></div>
                </div>
                <br/>
                <div style="font-size: 18px">To :<span th:text="${customer.firstName}"></span> <span
                        th:text="${customer.lastName}"></span>
                    <br/>
                    Address:<br/>
                    <div th:text="${customer.address?.street}"></div>
                    <div th:text="${customer.address?.city}"></div>
                    <div th:text="${customer.address?.state}"></div>
                    <div th:text="${customer.address?.zipcode}"></div>
                </div>
                <div style="float:right;">
                    <a href="/product/seller/getallsold" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline-success btn-lg"
                       th:href="@{'/product/seller/shipped/{id}'(id=${productShippedId})}">Shipped</a>
                </div>
            </div>
        </fieldset>
    </form>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>